#product{
    display: flex;
    margin-top: 30px;
}


.product-image{
    flex: 2;
    border: 1px solid green;
    padding: 5px;
    margin-right: 20px;
}

.product-image img{
    width: 100%;
}

.product-details{
    flex: 1;
}